*{
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
}
.formDiv{
  overflow-x: hidden;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #f2f3f5;

}
.formContainer{
  
    min-width: 30%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
  padding: 2%;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 3%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
h1{
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 2%;
}
form{
    display: flex;
    flex-direction: column;
} 
input {
    max-width: 250px;
    height: 44px;
    background-color: #05060f0a;
    border-radius: .5rem;
    padding: 0 1rem;
    border: 2px solid transparent;
    font-size: 1rem;
    transition: border-color .3s cubic-bezier(.25,.01,.25,1) 0s, color .3s cubic-bezier(.25,.01,.25,1) 0s,background .2s cubic-bezier(.25,.01,.25,1) 0s;
  }
  label{
    margin-top: 5%;
    font-size: 18px;
  }

  .button {
    background-color: #405cf5;
    border-radius: 6px;
    border-width: 0;
    box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-family: -apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Ubuntu,sans-serif;
    font-size: 100%;
    height: 44px;
    line-height: 1.15;
    margin: 12px 0 0;
    outline: none;
    overflow: hidden;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-transform: none;
    transform: translateZ(0);
    transition: all .2s,box-shadow .02s ease-in;
    touch-action: manipulation;
    width: 100%;
  }
  

  
  .button:focus {
    box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
  }

  .overflow-td {
    white-space: normal;
  word-break: break-word;
  max-width: 20rem;
  }
  .tableInfo{
    padding: 1rem;
    min-width: 54vw;
    height: 70vh;
    overflow-y: scroll;
    position: relative;
    background-color: white;
    border-radius: 3%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  .tableInfo::-webkit-scrollbar{
    display: none;
  }
  .btn{
    width: 100%;
    
  }
.data{

  width: 100%;
}
.btn button{
  margin: 2%;
  font-size: 0.9rem;
  
}